#root {
  width: 100vw;
  margin: 0 auto;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
